name: Build Jekyll site

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0 # La versione di Ruby che stai usando

      - name: Install dependencies
        run: bundle install

      - name: Check installed gems
        run: bundle list

      - name: Build the site
        run: bundle exec jekyll build

      - name: List site directory
        run: ls -al _site

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site
